<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd">

<hibernate-configuration>

	<session-factory>
		<!-- Second Level Cache -->
		<!-- <property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property> -->
		
		<!-- Query Caching -->
		<!-- <property name="hibernate.cache.use_query_cache">true</property> -->
		
		
		
		<property name="hbm2ddl.auto">update</property>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="connection.url">jdbc:mysql://10.101.160.237/library_hibernate?useSSL=false</property>
		<property name="connection.username">root</property>
		<property name="connection.password">password</property>
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="show_sql">true</property>
		<!-- <mapping class="com.livetechstudy.hibernate.library.entity.Book"/> -->
		<mapping resource="book.hbm.xml"/>
		<mapping resource="employee.hbm.xml"/>
		<mapping resource="certificate.hbm.xml"/>
	</session-factory>

</hibernate-configuration>